.container {
    display: flex;
    flex-direction: column;
    max-width: 100%; 
    overflow: hidden;
    align-items: center;
}

.page-container {
    display: flex;
    width: 100%; 
}

.flex-center {
    display: flex;
    justify-content: center;
}

.center {
    align-items: center;
    margin-top: 6em;
    width: 60%;
}

.margin-left {
    margin-left: 12em; 
}

.flex {
    display: flex; 
    justify-content: space-evenly;
}

/*header*/

.header-position {
    margin-left: 5em; 
}

.header-title {
    display: inline-block;
    margin: 20px auto; 
    font-size: 3em;
    font-family: 'Jacques Francois', serif;
    text-transform: uppercase;
    background: -webkit-linear-gradient(45deg, #08abb1, #b9fcfe), #D9D9D9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-text {
    position: absolute;
    top: 3.9%;
    left: 17%; 
    color:rgba(0, 0, 0, 0.50)
}

/*login-container*/

.side-img {
    filter: hue-rotate(165deg);
    display: block;
    width: 700px;
    height: 600px; 
    position: absolute;
    top:0; 
    left: 0;
    margin-left: -20em;
    object-fit: cover;
}

.login-container {
    overflow: hidden;
    position: relative; 
    width: 700px; 
    height: 400px; 
    background-color: #F5F5F5;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 2em; 
    text-align: end;
    margin: 4% auto; 
}

.login-header {
    margin: 0em 3.65em 2em 0em;
    font-family: 'Jacques Francois', serif;
    font-size: 2em;
}

/*buttons*/

.login-btn,
.logout-btn, 
.addbook-btn,
.pop-up-btn {
    background: linear-gradient(89deg, #42D2D7, #B0E1E3), #D9D9D9;
    width: 150px; 
    padding: 1em; 
    border: none; 
    margin: 0.5em; 
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
}


.pop-up-btn {
    margin-top: 2em; 
}

.login-btn {
    margin-top: 2.5em; 
}

.button-effect {
    color: #000;
    /* border: 3px solid #42D2D7; */
    background-image: -webkit-linear-gradient(30deg, #18ccd2,#c5e9ea 50%, transparent 50%);
    background-image: linear-gradient(30deg,#18ccd2,#B0E1E3 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
  }
  .button-effect:hover {
    background-color: #F3DEDD;
    background-position: 100%;
    color: #000;
  }

  .grid {
    display: flex;
    margin-top: 0.3em; 
}

.btn-columns {
    display: flex;
    flex-direction: column;
    margin-top: 1.8em; 
    padding: 1px; 
}

.btn-columns-users {
    margin-top: 2.8em;
}

.btn-column{
    width: 60px;
    height: 33px;  
    padding: 0.1em; 
    margin: 0.32em; 
    border: none; 
    border: 1px solid black;
    border-radius: 6px;
}
.btn-column:nth-child(odd) {
    background-color: #e0e0e0;
}
.btn-column:nth-child(even) {
    background-color: #f9f9f9;
}

/*inputs*/

.login-input,
.search-input, 
.pop-up-input {
    width: 300px;
    padding: 1em; 
    border: none; 
    background: #D9D9D9;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    margin-bottom: 1.5em;
}

.pop-up-input {
    margin: 1em; 
    width: 450px;
}

.search-input {
    margin: 1em; 
}

.login-input:focus {
    outline: none;
    background: linear-gradient(89deg, #42D2D7, #B0E1E3), #D9D9D9;
}

/* AccountComponent*/

.align-right {
    position: absolute;
    top: 3%; 
    right: 5em; 
}

.account-text {
    margin-right: 1em; 
}

.guest-text {
    margin: 2.6em 1em 0em 0em ;
}


/* tables, grids, columns and pop-ups */

td, th {
    padding: 3px 3em 3px 3em; 
}

tr:nth-child(odd) {
    background-color: #F5F5F5;
}

/*Popups*/

.pop-up {
    width: 500px; 
    position: absolute; 
    background-color: white;
    top: 16%; 
    left: 33%;
    padding: 0em 2em 2em 2em;  
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.pop-up-label {
    margin-left: 1em;
}

.pop-up-text {
    text-align: center;
    margin-top: 2em;
}

.pop-up-header {
    text-align: center;
    font-size: 1.8em;
}
