td, th {
    border: 1px solid black; 
    padding: 0px 1em 0px 1em; 
}

.grid {
    display: flex;
}

.delete-form {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em; 
    padding: 1px; 
}

.delete-btn {
    margin-bottom: 2px; 
}

.position {
    position: absolute; 
    background-color: white;
    top: 30%; 
    left: 15%;
    border: 2px solid black;
    padding: 0em 1em 1em 1em;  
}